# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VSCode settings
.vscode/

# Mac and Linux file metadata
.DS_Store
*.swp
*.swo

# Docker files
Dockerfile*
.dockerignore

# Logs
*.log

# Git
.git/
.gitignore

# Credentials / secrets
*.env
.env.*
secrets/